@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jua&family=Libre+Baskerville&family=Merriweather&family=Playpen+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jost:wght@300&family=Jua&family=Libre+Baskerville&family=Merriweather&family=Playpen+Sans:wght@500&display=swap');


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container{
    flex: 1;
    background-color: #495E57;
    max-width: 250px;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 1px 1px 15px rgb(55, 56, 55);
}
h2{
    color: rgb(216, 216, 8);
    font-family:'Jua', sans-serif;
}
.user{
    margin-top: 25px;
    margin-bottom: 15px;
    position: relative;
}
button,input{
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 20px;
    border: none;
}
.login{
    background-color: #75A582;
    margin-top: 25px;
}
.signup{
    background-color: #7D7D7D;
    margin-bottom: 20px;
}
h6{
    color: white;
    font-family: 'Jost', sans-serif;
}
button{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19);
    color: white;
}
.svg-icon{
    position: absolute;
    top: 6px;
    left: 18px;
}
.pass{
    position: relative;
}
.key-icon{
    position: absolute;
    top: 6px;
    left: 15px;
}
.line{
    position: absolute;
    left: 36px;
    top: 5px;
}
.login:active{
    background-color: #b3d3bc;
}
.signup:active
{
    background-color: #9e9b9b;
}
button:hover{
    box-shadow: 0px 0px 5px rgb(165, 165, 165);
    background-color: #a05b33;
}
